 .container h1 {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    overflow: hidden;
    position: relative;   
    justify-items: center;
    justify-content: center;
}

.container a {
    display: flex;
    align-items: center;
    margin-top: 15px;
    color: #41414d;
    font-size: 18px;
    text-decoration: none;
    font-weight: bold;
    transition: opacity 0.2s;
}

.container a svg {
    margin-right: 8px;
}
